<section class="discover py-6 md:py-12 bg-[linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url('/images/discover.webp')] bg-top bg-cover">
  <div class="container max-w-screen-xl">
    <div class="h-[300px] md:h-[400px] relative">
      <div class="absolute w-full text-center text-white left-1/2 top-1/2 -translate-x-[50%] -translate-y-[50%] p-5">
        <h2 class="text-[30px] md:text-[50px] font-bold mb-2">Discover Fashion That Speaks To You.</h2>
        <p class="text-[14px] md:text-[25px]">
          Explore a range of high-quality, affordable furniture designed to transform any room.
          Discover the perfect blend of style, comfort, and functionality for your space.
        </p>
        <button routerLink="/products" class="py-2 px-6 rounded-3xl flex items-center mx-auto gap-2 border border-white text-white transition-all duration-300 hover:bg-main-color hover:border-main-color hover:text-white mt-6">
          See All
          <i class="fa-solid fa-arrow-right"></i>
        </button>
      </div>
    </div>
  </div>
</section>
