<section class="py-20">
  <div class="container max-w-screen-xl">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-5">
      <div class="image flex gap-8 justify-between">
        <div class="w-[100px]">
          @for (img of productItem().images; track $index) {
            <div (click)="selectedImg(img)" class="img mb-3 border border-main-color rounded-3xl overflow-hidden">
              <img [src]="img" class="w-[80px]" alt="product-image" />
            </div>
          }
        </div>
        <div class="h-[500px] w-full relative">
          <img [src]="imageCover" class="w-full h-full" alt="product-image" />
          <span class="absolute top-5 right-5 w-10 h-10 rounded-full text-main-color text-lg bg-white border border-main-color flex justify-center items-center">
            <i class="fa-regular fa-heart"></i>
          </span>
        </div>
      </div>
      <div class="content">
        <div class="flex items-center gap-1 py-2">
          <i class="fa-solid fa-star text-yellow-600"></i>
          <span class="text-text-color"> {{productItem().ratingsAverage}} </span>
          <span class="text-gray-500 text-sm">(18+)</span>
        </div>
        <h2 class="text-text-color text-3xl font-semibold"> {{productItem().title}} </h2>
        <p class="my-4 text-sm text-gray-400"> {{productItem().description}} </p>
        <div class="product_color text-text-color text-lg font-medium">
          Color :
          <span class="text-gray-400">{{colorName}}</span>
        </div>
        <ul class="product_colors flex gap-3 my-3">
          @for (item of colors; track $index) {
            <li (click)="selectedColor(item.name)" [style.backgroundColor]="item.color" class="w-8 h-8 rounded-full cursor-pointer"></li>
          }
        </ul>
        <div class="product_size text-text-color text-lg font-medium">
          Size :
          <span class="text-main-color">{{sizeName}}</span>
        </div>
        <ul class="product_sizes flex gap-3 my-3">
          @for (item of sizes; track $index) {
            <li (click)="selectedSize(item.name)" class="bg-[#FCFCFD] px-4 py-2 rounded-lg cursor-pointer text-[#667085] border border-[#EAECF0]"> {{item.size}} </li>
          }
        </ul>
        <div class="product_quantity text-text-color text-lg font-medium">
          Quantity :
          <span class="text-main-color">220</span>
        </div>
        <div class="flex gap-4 my-4">
          <div class="btns flex justify-around text-text-color w-[160px] border border-main-color py-3 rounded-xl">
            <button>
              <i class="fa-solid fa-minus"></i>
            </button>
            <span>1</span>
            <button>
              <i class="fa-solid fa-plus"></i>
            </button>
          </div>
          <button class="w-full bg-main-color rounded-xl text-white">
            <span>149 EGP</span>
            .
            <span>Add to Cart</span>
          </button>
        </div>
        <div class="product-delivery flex gap-3 items-center text-gray-400 px-3 py-2 bg-[#F2F4F7] mt-2">
          <i class="fa-solid fa-truck"></i>
          <span>Estimated Delivery :</span>
          <span class="text-text-color font-medium"> 23 Mar 2025 - 25 Mar 2025</span>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="py-10">
  <div class="container max-w-screen-xl">
    <p class="py-3 flex justify-between items-center text-2xl border-b border-b-gray-400 mb-3 cursor-pointer select-none">
      <span>Details</span>
      <span class="text-sm">
        <i class="fa-solid fa-plus"></i>
      </span>
    </p>
    <p class="py-3 flex justify-between items-center text-2xl border-b border-b-gray-400 mb-3 cursor-pointer select-none">
      <span>Dimensions</span>
      <span class="text-sm">
        <i class="fa-solid fa-plus"></i>
      </span>
    </p>
    <p (click)="toggleMenu()" class="py-3 flex justify-between items-center text-2xl mb-3 cursor-pointer select-none">
      <span>Reviews</span>
      <span class="text-sm">
        <i class="fa-solid fa-minus"></i>
      </span>
    </p>
    @if (isOpen) {
      <div [class]="{
        'opacity-100': isOpen,
        'opacity-0': !isOpen
      }" class="grid grid-cols-1 md:grid-cols-[40%_minmax(0,1fr)] gap-5 transition-opacity duration-300">
        <div class="review_left h-fit bg-white rounded-lg p-5">
          <h3 class="text-text-color font-semibold mb-2">Customer Reviews</h3>
          <span class="text-3xl font-bold">4.7</span>
          <div class="stars mt-2 mb-4">
            <i class="fa-solid fa-star text-yellow-500"></i>
            <i class="fa-solid fa-star text-yellow-500"></i>
            <i class="fa-solid fa-star text-yellow-500"></i>
            <i class="fa-solid fa-star text-yellow-500"></i>
            <i class="fa-solid fa-star text-gray-300"></i>
          </div>
          <span class="text-sm text-gray-400">(18 Reviews)</span>
          <div class="flex justify-between items-center gap-3 text-xs mt-5 mb-3">
            <span class="w-[15%]">5 stars</span>
            <p class="bg-[#e2e8f0] h-2 w-full rounded-full">
              <span class="bg-yellow-500 w-[85%] h-full block rounded-full"></span>
            </p>
            <span>488</span>
          </div>
          <div class="flex justify-between items-center gap-3 text-xs mb-3">
            <span class="w-[15%]">4 stars</span>
            <p class="bg-[#e2e8f0] h-2 w-full rounded-full">
              <span class="bg-yellow-500 w-[45%] h-full block rounded-full"></span>
            </p>
            <span>74</span>
          </div>
          <div class="flex justify-between items-center gap-3 text-xs mb-3">
            <span class="w-[15%]">3 stars</span>
            <p class="bg-[#e2e8f0] h-2 w-full rounded-full">
              <span class="bg-yellow-500 w-[15%] h-full block rounded-full"></span>
            </p>
            <span>14</span>
          </div>
          <div class="flex justify-between items-center gap-3 text-xs mb-3">
            <span class="w-[15%]">2 stars</span>
            <p class="bg-[#e2e8f0] h-2 w-full rounded-full">
              <span class="h-full block rounded-full"></span>
            </p>
            <span>0</span>
          </div>
          <div class="flex justify-between items-center gap-3 text-xs mb-3">
            <span class="w-[15%]">1 stars</span>
            <p class="bg-[#e2e8f0] h-2 w-full rounded-full">
              <span class="h-full block rounded-full"></span>
            </p>
            <span>0</span>
          </div>
        </div>
        <div class="review_right bg-white rounded-lg p-5">
          <div class="border-b border-b-gray-300 pb-4">
            <span class="text-sm text-gray-400">Mar 24, 2025</span>
            <div class="stars mb-4">
              <i class="fa-solid fa-star text-yellow-500"></i>
              <i class="fa-solid fa-star text-yellow-500"></i>
              <i class="fa-solid fa-star text-yellow-500"></i>
              <i class="fa-solid fa-star text-yellow-500"></i>
              <i class="fa-solid fa-star text-gray-300"></i>
            </div>
            <div class="flex items-center gap-3 mb-3">
              <span class="w-9 h-9 rounded-full bg-[#e8dfd7] text-main-color flex justify-center items-center">AK</span>
              <h3 class="font-semibold">Alex K.</h3>
            </div>
            <h4 class="text-gray-400 mb-3">Senior Analyst</h4>
            <p class="text-text-color text-lg">
              Lorem ipsum dolor sit amet consectetur. Egestas tincidunt sed laoreet urna id morbi turpis. Est elit egestas
            </p>
          </div>
          <div class="pt-4">
            <span class="text-sm text-gray-400">Mar 24, 2025</span>
            <div class="stars mb-4">
              <i class="fa-solid fa-star text-yellow-500"></i>
              <i class="fa-solid fa-star text-yellow-500"></i>
              <i class="fa-solid fa-star text-yellow-500"></i>
              <i class="fa-solid fa-star text-yellow-500"></i>
              <i class="fa-solid fa-star text-gray-300"></i>
            </div>
            <div class="flex items-center gap-3 mb-3">
              <span class="w-9 h-9 rounded-full bg-[#e8dfd7] text-main-color flex justify-center items-center">ER</span>
              <h3 class="font-semibold">Emily R.</h3>
            </div>
            <h4 class="text-gray-400 mb-3">Front-End Engineer</h4>
            <p class="text-text-color text-lg">
              Lorem ipsum dolor sit amet consectetur. Egestas tincidunt sed laoreet urna id morbi turpis. Est elit egestas
            </p>
          </div>
        </div>
      </div>
    }
  </div>
</section>

<section class="py-20">
  <div class="container max-w-screen-xl">
    <h2 #similarProducts class="text-text-color text-4xl font-semibold mb-4">Similar products</h2>
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-5">
      @defer (on viewport(similarProducts)) {
        @for (product of products(); track product.id) {
          <app-product-item [product]="product"></app-product-item>
        }
      }
    </div>
  </div>
</section>
