<section class="hero py-20">
  <div class="container max-w-screen-xl grid grid-cols-1 md:grid-cols-[65%_30%] items-center">
    <div class="col relative">
      <h1 class=" text-text-color text-[45px] font-semibold">
        Elevate Your Style With <br/> The Latest Trends.
      </h1>
      <img src="/images/Brush.png" class="absolute top-[35%] left-[17%]" alt="Brush" />
      <p class="text-second-text max-w-[550px] my-4">
        Explore a curated of stylish, affordable fashion designed to elevate
        your wardrobe. Discover the perfect blend of trend, comfort, and
        individually for your look
      </p>
      <button class="py-3 px-[70px] mt-4 bg-main-color text-white rounded-[25px]">Download App</button>
      <img src="/images/shape.png" class="absolute bottom-[-70px] right-[120px]" alt="shape" />
    </div>
    <div class="col relative">
      <img src="/images/landing.png" class="w-full rounded-[90px_40px]" alt="landing-image" />
      <img src="/images/shape.png" class="absolute top-0 left-1/2 -translate-x-[50%] -translate-y-[50%]" alt="shape" />
    </div>
  </div>
</section>
