<section class="py-32">
  <div class="container max-w-screen-xl px-5 md:px-0">
    <div class="grid grid-cols-1 md:grid-cols-[20%_minmax(0,1fr)] gap-5">
      <div class="md:hidden cursor-pointer absolute left-1 top-[15%]" title="settings" (click)="toggleSettings()">
        <i class="fa-solid fa-gear"></i>
      </div>
      <div [class]="{
        'absolute': isOpen,
        'z-[9999]': isOpen,
        'bg-white': isOpen,
        'w-[300px]': isOpen,
        'h-screen': isOpen,
        'top-0': isOpen,
        'left-0': isOpen,
        'p-5': isOpen,
        'hidden': !isOpen
      }" class="sidebar md:block">
        <div class="flex justify-between items-center">
          <h3 class="text-3xl font-medium text-text-color mb-4">Filter By</h3>
          <span (click)="toggleSettings()" class="text-xl cursor-pointer md:hidden">
            <i class="fa-solid fa-xmark"></i>
          </span>
        </div>
        <div class="mb-2">
          <p (click)="toggleMenu()" class="py-2 flex justify-between items-center text-text-color font-semibold cursor-pointer">
            Category
            <i class="fa-solid fa-chevron-down text-main-color"></i>
          </p>
          <ul [class]="{
            'opacity-100': !isOpenMenu,
            'opacity-0': isOpenMenu
          }" class="p-2 flex flex-col gap-4 text-gray-400 transition-opacity duration-300">
            <li [class]="{
              'text-text-color': selectedCatId == '0',
              'font-medium': selectedCatId == '0',
            }" (click)="selectedId('0', 'All Products')" class="cursor-pointer">All Products</li>
            @for (cat of categories(); track cat._id) {
              <li [class]="{
                'text-text-color': selectedCatId == cat._id,
                'font-medium': selectedCatId == cat._id,
              }" (click)="selectedId(cat._id, cat.name)" class="cursor-pointer"> {{cat.name}} </li>
            }
          </ul>
        </div>
      </div>
      <div class="products">
        <div class="mb-4">
          <h2 class="text-3xl font-medium text-text-color">
            {{categoryName()}}
            <span class="text-main-color text-sm">({{results()}})</span>
          </h2>
        </div>
        <div [class]="{
          'sm:grid-cols-2': products().length > 0,
          'md:grid-cols-3': products().length > 0,
        }" class="grid grid-cols-1 gap-5 my-10">
          @for (product of products() | paginate: {id: 'products', itemsPerPage: limit(), currentPage: page(), totalItems: total()}; track product.id) {
            <app-product-item [product]="product" ></app-product-item>
          } @empty {
            <p class="text-text-color text-2xl text-center">No items available in this category yet! 🛒🚫</p>
          }
        </div>
        <div class="text-center">
          <pagination-controls
            (pageChange)="changePage($event)"
            (pageBoundsCorrection)="changePage($event)"
            [maxSize]="5"
            [directionLinks]="true"
            [autoHide]="true"
            [responsive]="true"
            previousLabel="Previous"
            nextLabel="Next"
            screenReaderPaginationLabel="Pagination"
            screenReaderPageLabel="page"
            screenReaderCurrentLabel="You're on page"
            id="products">
          </pagination-controls>
        </div>
      </div>
    </div>
  </div>
</section>
