<section>
  <div class="grid grid-cols-1 md:grid-cols-2 h-screen min-h-screen overflow-hidden">
    <div class="w-[70%] mx-auto pt-20">
      <h2 class="text-text-color text-3xl font-semibold">Create a Account</h2>
      <p class="text-sm text-gray-400">Create a new account</p>
      <form class="my-3" [formGroup]="registerForm" (ngSubmit)="submitForm()" >
        <div class="mb-3">
          @let name = registerForm.get('name');
          <label for="userName" class="block mb-2 text-text-color">User Name</label>
          <div class="relative">
            <input type="text" id="userName" name="userName" formControlName="name" placeholder="ahmed yasser" class="ps-8 w-full bg-white rounded-md border-0 border-none focus:ring-0 focus:shadow-none focus:border-none" />
            <span class="absolute bottom-0 left-2 -translate-y-[50%] leading-5 text-main-color">
              <i class="fa-solid fa-user"></i>
            </span>
          </div>
          <app-error-message [inputControl]="name" [inputTitle]="'username is required'" ></app-error-message>
        </div>
        <div class="mb-3">
          @let email = registerForm.get('email');
          <label for="email" class="block mb-2 text-text-color">E-mail</label>
          <div class="relative">
            <input type="email" id="email" name="email" formControlName="email" placeholder="ahmed@example.com" class="ps-8 w-full bg-white rounded-md border-0 border-none focus:ring-0 focus:shadow-none focus:border-none" />
            <span class="absolute bottom-0 left-2 -translate-y-[50%] leading-5 text-main-color">
              <i class="fa-solid fa-envelope"></i>
            </span>
          </div>
          <app-error-message [inputControl]="email" [inputTitle]="'email is required'" ></app-error-message>
        </div>
        <div class="mb-3">
          @let password = registerForm.get('password');
          <label for="password" class="block mb-2 text-text-color">Password</label>
          <div class="relative">
            <input type="password" id="password" name="password" formControlName="password" placeholder="xxxxxxxxxxxxxxx" class="ps-8 w-full bg-white rounded-md border-0 border-none focus:ring-0 focus:shadow-none focus:border-none" />
            <span class="absolute bottom-0 left-2 -translate-y-[50%] leading-5 text-main-color">
              <i class="fa-solid fa-lock"></i>
            </span>
          </div>
          <app-error-message [inputControl]="password" [inputTitle]="'password is required'" [inputMessage]="'password must start with upperCase then any 6 chars or more'" ></app-error-message>
        </div>
        <div class="mb-3">
          @let rePassword = registerForm.get('rePassword');
          <label for="rePassword" class="block mb-2 text-text-color">Confirm Password</label>
          <div class="relative">
            <input type="password" id="rePassword" name="rePassword" formControlName="rePassword" placeholder="xxxxxxxxxxxxxxx" class="ps-8 w-full bg-white rounded-md border-0 border-none focus:ring-0 focus:shadow-none focus:border-none" />
            <span class="absolute bottom-0 left-2 -translate-y-[50%] leading-5 text-main-color">
              <i class="fa-solid fa-lock"></i>
            </span>
          </div>
          @if (registerForm.getError('mismatch') && rePassword?.touched) {
            <div class="mt-1">
              <ul class="max-w-md space-y-1 text-red-600 text-sm list-none">
                <li>password and confirmPassword dosen't match</li>
              </ul>
            </div>
          }
          <app-error-message [inputControl]="rePassword" [inputTitle]="'Confirm Password is required'" ></app-error-message>
        </div>
        <button type="submit" class="w-full p-3 bg-[#8b5e35e6] transition-all duration-300 hover:bg-main-color text-white rounded-3xl">Sign Up</button>
        <p class="mt-2 text-center">
          Already have an account?
          <a routerLink="/auth/login" class="underline text-main-color">Login</a>
        </p>
        @if (msgError()) {
          <p class="text-red-600 font-medium text-center mt-2"> {{msgError()}} </p>
        }
      </form>
    </div>
    <div class="relative">
      <owl-carousel-o [options]="customOptions">
        @for (item of sliderImgs(); track $index) {
          <ng-template carouselSlide>
            <img [src]="item" class="w-full object-cover" alt="slider-image" />
            <div class="w-full absolute left-1/2 bottom-[20%] text-white -translate-x-[50%] -translate-y-[50%] text-center">
              <h2 class="text-2xl font-bold">Welcome to Trendify</h2>
              <p>Discover the latest trends, <br/> express your unique style.</p>
            </div>
          </ng-template>
        }
      </owl-carousel-o>
    </div>
  </div>
</section>
