<section class="services py-20">
  <div class="container max-w-screen-xl">
    <div class="main-title text-center">
      <span class="text-main-color mb-3 text-3xl font-caveat">Services</span>
      <h2 class="text-[40px] text-text-color font-medium">Benefits when using <br/> our services</h2>
    </div>
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-5 mt-7">
      <div class="card bg-white rounded-lg p-5">
        <span class="size-12 rounded-full bg-bg-color flex justify-center items-center mb-2">
          <i class="fa-regular fa-lightbulb text-[25px] text-main-color"></i>
        </span>
        <h3 class="text-text-color text-lg font-medium mb-4">Inspiration</h3>
        <p class="text-second-text pb-4">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis est, quod dicta eveniet ea itaque
        </p>
      </div>
      <div class="card bg-white rounded-lg p-5">
        <span class="size-12 rounded-full bg-bg-color flex justify-center items-center mb-2">
          <i class="fa-solid fa-headphones text-[25px] text-main-color"></i>
        </span>
        <h3 class="text-text-color text-lg font-medium mb-4">24/7 Customer Services</h3>
        <p class="text-second-text pb-4">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis est, quod dicta eveniet ea itaque
        </p>
      </div>
      <div class="card bg-white rounded-lg p-5">
        <span class="size-12 rounded-full bg-bg-color flex justify-center items-center mb-2">
          <i class="fa-solid fa-truck-fast text-[25px] text-main-color"></i>
        </span>
        <h3 class="text-text-color text-lg font-medium mb-4">Express Shipping</h3>
        <p class="text-second-text pb-4">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis est, quod dicta eveniet ea itaque
        </p>
      </div>
    </div>
  </div>
</section>
