<section class="py-10 md:py-20">
  <div class="container max-w-screen-xl px-5 md:px-0">
    <div class="main-title text-center">
      <span class="text-main-color mb-3 text-3xl font-caveat">New Collection</span>
      <h2 class="text-[30px] md:text-[40px] text-text-color font-medium">Check the new Collection</h2>
    </div>
    <div class="grid grid-cols-1 md:grid-cols-2 md:grid-rows-2 gap-5 mt-5">
      <div class="h-[340px] md:h-[700px] relative row-span-2">
        <img src="/images/collection-1.png" class="w-full h-full object-cover aspect-video md:aspect-auto rounded-3xl" alt="collection-image" />
        <div class="absolute left-1/2 top-1/2 -translate-x-[50%] -translate-y-[50%] text-white">
          <h3 class="text-5xl mb-2">Shoes</h3>
          <p class="text-3xl">UP TO 50% OFF</p>
        </div>
      </div>
      <div class="h-[340px] relative">
        <img src="/images/collection-2.webp" class="w-full h-full object-cover aspect-video md:aspect-auto rounded-3xl" alt="collection-image" />
        <div class="absolute left-1/2 top-1/2 -translate-x-[50%] -translate-y-[50%] text-white">
          <h3 class="text-5xl mb-2">Bags</h3>
          <p class="text-3xl">UP TO 50% OFF</p>
        </div>
      </div>
      <div class="h-[340px] relative">
        <img src="/images/collection-3.webp" class="w-full h-full object-cover aspect-video md:aspect-auto rounded-3xl" alt="collection-image" />
        <div class="absolute left-1/2 top-1/2 -translate-x-[50%] -translate-y-[50%] text-white">
          <h3 class="text-5xl mb-2">Accessories</h3>
          <p class="text-3xl">UP TO 50% OFF</p>
        </div>
      </div>
    </div>
  </div>
</section>
