<footer class="bg-[#2e2e2e] py-20">
  <div class="container max-w-screen-xl">
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-5 gap-[60px] text-white">
      <div class="col col-span-2">
        <h2 class="text-4xl font-semibold mb-3">Trendify</h2>
        <p class="text-gray-400 text-sm my-6">Join Our newsletter to stay up to date on feautres and releases.</p>
        <div class="flex gap-4 mb-3">
          <input type="text" class="w-full border border-main-color rounded-lg focus:ring-0 focus:border-main-color focus:shadow-none" placeholder="Enter Your Email" />
          <button class="p-2 bg-main-color text-white border border-white rounded-lg">Subscribe</button>
        </div>
        <p class="text-[11px]">
          By Subscribeing you agree to with our Privacy Policy and provide consent to receive updates from our company
        </p>
      </div>
      <div class="col">
        <h2 class="font-semibold mb-3">About Us</h2>
        <ul class="flex flex-col gap-3">
          <li>
            <a class="cursor-pointer">FAQ</a>
          </li>
          <li>
            <a class="cursor-pointer">Contact</a>
          </li>
          <li>
            <a class="cursor-pointer">Returns</a>
          </li>
          <li>
            <a class="cursor-pointer">Blog</a>
          </li>
          <li>
            <a class="cursor-pointer">Shipping</a>
          </li>
        </ul>
      </div>
      <div class="col">
        <h2 class="font-semibold mb-3">Coustomer Support</h2>
        <ul class="flex flex-col gap-3">
          <li>
            <a class="cursor-pointer">Affiliates</a>
          </li>
          <li>
            <a class="cursor-pointer">Apply Pay Payments</a>
          </li>
          <li>
            <a class="cursor-pointer">Returns</a>
          </li>
          <li>
            <a class="cursor-pointer">Returns Policy</a>
          </li>
          <li>
            <a class="cursor-pointer">Returns</a>
          </li>
        </ul>
      </div>
      <div class="col">
        <h2 class="font-semibold mb-3">Follow Us</h2>
        <ul class="flex flex-col gap-3">
          <li>
            <a class="cursor-pointer">
              <i class="fa-brands fa-facebook me-2"></i>
              Facebook
            </a>
          </li>
          <li>
            <a class="cursor-pointer">
              <i class="fa-brands fa-instagram me-2"></i>
              Instagram
            </a>
          </li>
          <li>
            <a class="cursor-pointer">
              <i class="fa-brands fa-twitter me-2"></i>
              Twitter
            </a>
          </li>
          <li>
            <a class="cursor-pointer">
              <i class="fa-brands fa-linkedin me-2"></i>
              Linkedin
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="copyright flex justify-between items-center text-gray-300 text-sm mt-10">
      <p>© {{year}} Trendify. All right reserved</p>
      <ul class="flex gap-5">
        <li class="cursor-pointer">Privacy Policy</li>
        <li class="cursor-pointer">Terms of Services</li>
        <li class="cursor-pointer">Cookies Setting</li>
      </ul>
    </div>
  </div>
</footer>
