<section class="py-20">
  <div class="container max-w-screen-xl">
    <div class="main-title text-center">
      <span class="text-main-color mb-3 text-3xl font-caveat">Flash Sale</span>
      <h2 class="text-[40px] text-text-color font-medium">Grab Them Before They're Gone!</h2>
    </div>
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-5 mt-5">
      @for (product of products(); track product.id) {
        <app-product-item [product]="product" ></app-product-item>
      }
    </div>
    <button routerLink="/products" class="py-2 px-6 rounded-3xl flex items-center mx-auto gap-2 border border-main-color text-main-color transition-all duration-300 hover:bg-main-color hover:text-white mt-6">
      See All
      <i class="fa-solid fa-arrow-right"></i>
    </button>
  </div>
</section>
