/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Poppins", serif;
}

.ngx-pagination .current {
  background: #8B5E35 !important;
  color: #fff;
  cursor: pointer;
  border-radius: 6px;
}
