<section class="products py-20">
  <div class="container max-w-screen-xl">
    <div class="main-title text-center">
      <span class="text-main-color mb-3 text-3xl font-caveat">Products</span>
      <h2 class="text-[40px] text-text-color font-medium">Best Selling Product</h2>
    </div>
    <ul class="flex gap-2 justify-center bg-[#eee] w-fit my-5 mx-auto p-2 rounded-3xl">
      @for (cat of categories(); track $index) {
        <li [class.active]="selectedCatId == cat.id" class="rounded-3xl py-[5px] px-5 cursor-pointer" (click)="selectedId(cat.id)" > {{cat.name}} </li>
      }
    </ul>
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-5 mt-5">
      @for (product of products(); track product.id) {
        <app-product-item [product]="product" ></app-product-item>
      }
    </div>
    <button routerLink="/products" class="py-2 px-6 rounded-3xl flex items-center mx-auto gap-2 border border-main-color text-main-color transition-all duration-300 hover:bg-main-color hover:text-white mt-6">
      See All
      <i class="fa-solid fa-arrow-right"></i>
    </button>
  </div>
</section>
