<section>
  <div class="grid grid-cols-1 md:grid-cols-2 h-screen min-h-screen overflow-hidden">
    <div class="w-[70%] mt-20 mx-auto pt-20">
      <h2 class="text-text-color text-3xl mb-2 font-medium">Forget Password</h2>
      <p class="text-sm text-gray-400 mb-4">Please Finish This steps in order to reset your password</p>
      @if (step() === 1) {
        <form class="my-3" [formGroup]="verifyEmailForm" (ngSubmit)="submitVerifyEmail()">
          <div class="mb-3">
            @let email = verifyEmailForm.get('email');
            <label for="email" class="block mb-2 text-text-color">E-mail</label>
            <div class="relative">
              <input type="email" id="email" name="email" formControlName="email" placeholder="ahmed@example.com" class="ps-8 w-full bg-white rounded-md border-0 border-none focus:ring-0 focus:shadow-none focus:border-none" />
              <span class="absolute bottom-0 left-2 -translate-y-[50%] leading-5 text-main-color">
                <i class="fa-solid fa-envelope"></i>
              </span>
            </div>
            <app-error-message [inputControl]="email" [inputTitle]="'email is required'"></app-error-message>
          </div>
          <button type="submit" class="w-full p-3 bg-[#8b5e35e6] transition-all duration-300 hover:bg-main-color text-white rounded-3xl">Send Code</button>
          @if (msgError()) {
            <p class="text-red-600 font-medium text-center mt-2"> {{msgError()}} </p>
          }
        </form>
      } @else if (step() === 2) {
        <form class="my-3" [formGroup]="verifyCodeForm" (ngSubmit)="submitverifyCode()">
          <div class="mb-3">
            @let code = verifyCodeForm.get('resetCode');
            <label for="resetCode" class="block mb-2 text-text-color">code</label>
            <div class="relative">
              <input type="text" id="resetCode" name="resetCode" formControlName="resetCode" placeholder="xxxxxx" class="ps-8 w-full bg-white rounded-md border-0 border-none focus:ring-0 focus:shadow-none focus:border-none" />
              <span class="absolute bottom-0 left-2 -translate-y-[50%] leading-5 text-main-color">
                <i class="fa-solid fa-envelope"></i>
              </span>
            </div>
            <app-error-message [inputControl]="code" [inputTitle]="'verify code is required'" [inputMessage]="'Code must contain 6 numbers'" ></app-error-message>
          </div>
          <button type="submit" class="w-full p-3 bg-[#8b5e35e6] transition-all duration-300 hover:bg-main-color text-white rounded-3xl">verify Code</button>
          @if (msgError()) {
            <p class="text-red-600 font-medium text-center mt-2"> {{msgError()}} </p>
          }
        </form>
      } @else if (step() === 3) {
        <form class="my-3" [formGroup]="resetPasswordForm" (ngSubmit)="submitresetPassword()">
          <div class="mb-3">
            @let oldEmail = resetPasswordForm.get('email');
            <label for="oldEmail" class="block mb-2 text-text-color">E-mail</label>
            <div class="relative">
              <input type="email" id="oldEmail" name="oldEmail" formControlName="email" placeholder="ahmed@example.com" class="ps-8 w-full bg-white rounded-md border-0 border-none focus:ring-0 focus:shadow-none focus:border-none" />
              <span class="absolute bottom-0 left-2 -translate-y-[50%] leading-5 text-main-color">
                <i class="fa-solid fa-envelope"></i>
              </span>
            </div>
            <app-error-message [inputControl]="oldEmail" [inputTitle]="'email is required'"></app-error-message>
          </div>
          <div class="mb-3">
            @let newPassword = resetPasswordForm.get('newPassword');
            <label for="newPassword" class="block mb-2 text-text-color">new Password</label>
            <div class="relative">
              <input type="password" id="newPassword" name="newPassword" formControlName="newPassword" placeholder="xxxxxxxxxxxxxxx" class="ps-8 w-full bg-white rounded-md border-0 border-none focus:ring-0 focus:shadow-none focus:border-none" />
              <span class="absolute bottom-0 left-2 -translate-y-[50%] leading-5 text-main-color">
                <i class="fa-solid fa-lock"></i>
              </span>
            </div>
            <app-error-message [inputControl]="newPassword" [inputTitle]="'password is required'" [inputMessage]="'password must start with upperCase then any 6 chars or more'" ></app-error-message>
          </div>
          <button type="submit" class="w-full p-3 bg-[#8b5e35e6] transition-all duration-300 hover:bg-main-color text-white rounded-3xl">Reset Password</button>
          @if (msgError()) {
            <p class="text-red-600 font-medium text-center mt-2"> {{msgError()}} </p>
          }
        </form>
      }
    </div>
    <div class="relative">
      <owl-carousel-o [options]="customOptions">
        @for (item of sliderImgs(); track $index) {
          <ng-template carouselSlide>
            <img [src]="item" class="w-full object-cover" alt="slider-image" />
            <div class="w-full absolute left-1/2 bottom-[20%] text-white -translate-x-[50%] -translate-y-[50%] text-center">
              <h2 class="text-2xl font-bold">Welcome to Trendify</h2>
              <p>Discover the latest trends, <br/> express your unique style.</p>
            </div>
          </ng-template>
        }
      </owl-carousel-o>
    </div>
  </div>
</section>
