<section class="pb-20">
  <div class="container max-w-screen-xl bg-white flex justify-center items-center flex-col text-center p-12">
    <span class="text-main-color text-4xl">
      <i class="fa-solid fa-envelope"></i>
    </span>
    <h3 class="uppercase text-text-color font-medium mt-2 mb-4">sign up for teemate style news</h3>
    <p class="text-sm text-gray-500 mb-4">
      Get 15% of your first purchaxsel! plus, be the first to known about sales, <br/>
      new product launches and exclusive offers!
    </p>
    <div class="flex gap-4 mb-3 w-[450px]">
      <input type="text" class="w-full border border-main-color rounded-lg focus:ring-0 focus:border-main-color focus:shadow-none" placeholder="Enter Your Email" />
      <button class="p-2 bg-main-color transition-all duration-300 hover:bg-[#9a612d] text-white border border-white rounded-lg">Subscribe</button>
    </div>
  </div>
</section>
